[submodule "ouroboros"]
	path = ouroboros
	url = https://github.com/Q00/ouroboros.git
[submodule "oh-my-codex"]
	path = oh-my-codex
	url = https://github.com/Yeachan-Heo/oh-my-codex.git
[submodule "skills"]
	path = skills
	url = https://github.com/mattpocock/skills.git
[submodule "SkillOpt"]
	path = SkillOpt
	url = https://github.com/microsoft/SkillOpt.git
